<TEMPLATE>
    <CONFIG>

        <!-- Settings -->
        <NAME value="FmlPad" />
        <ICON value="images/fmlpad.png" />

        <HOME_PAGE value="templates/fmlpad.xml" />
        <LOGIN_PAGE value=""/>

        <MIRROR_API value="" />
        <REFRESH value="true"/>

        <!-- Theme -->
        <COLOR value="#31b9f6" />
        <BRIGHTNESS value="platform" /><!-- dark/light/system/platform -->
        <FONT value="Roboto"/> <!-- Case Sensitive https://fonts.google.com/ Fonts -->

    </CONFIG>
</TEMPLATE>