<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>

	<key>CLIENT_ID</key>

	<string>227616583372-0ogb9ur6dvi2sfbfhncqsqcks6shati5.apps.googleusercontent.com</string>

	<key>REVERSED_CLIENT_ID</key>

	<string>com.googleusercontent.apps.227616583372-0ogb9ur6dvi2sfbfhncqsqcks6shati5</string>

	<key>API_KEY</key>

	<string>AIzaSyBpyJ76j1AkLtUTLOVne5EDongQTAIJBk0</string>

	<key>GCM_SENDER_ID</key>

	<string>227616583372</string>

	<key>PLIST_VERSION</key>

	<string>1</string>

	<key>BUNDLE_ID</key>

	<string>co.appdaddy.fml</string>

	<key>PROJECT_ID</key>

	<string>x2ecom-768c1</string>

	<key>STORAGE_BUCKET</key>

	<string>x2ecom-768c1.appspot.com</string>

	<key>IS_ADS_ENABLED</key>

	<false></false>

	<key>IS_ANALYTICS_ENABLED</key>

	<false></false>

	<key>IS_APPINVITE_ENABLED</key>

	<true></true>

	<key>IS_GCM_ENABLED</key>

	<true></true>

	<key>IS_SIGNIN_ENABLED</key>

	<true></true>

	<key>GOOGLE_APP_ID</key>

	<string>1:227616583372:ios:9ee7f2a5f5613ea7611c69</string>

	<key>DATABASE_URL</key>

	<string>https://x2ecom-768c1.firebaseio.com</string>

</dict>

</plist>
