<TEMPLATE>
    <CONFIG>

        <!-- Settings -->
        <APPLICATION_NAME 		value="FML_LOCAL_NAME" />
        <APP_ICON	 			value="resources/images/appicon.png" />
        <HOME_PAGE       		value="file://templates/localtemplate.xml" />
        <LOGIN_PAGE             value=""/>
        <UNAUTHORIZED_PAGE      value=""/>
        <MIRROR_API 	        value="" />
        <REFRESH                value="true"/>

        <!-- Theme -->
        <COLOR_SCHEME 			value="lightblue" />
        <BRIGHTNESS 			value="light" /> <!-- dark/light/system/platform -->
        <FONT                   value="Roboto"/> <!-- Case Sensitive https://fonts.google.com/ Fonts -->

        <!-- Authentication -->
        <FIREBASE_API_KEY       value=""/>
        <FIREBASE_AUTH_DOMAIN	value=""/>

    </CONFIG>
</TEMPLATE>