<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>FML</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Framework Markup Language</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>open</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fml</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3.3.3</string>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>Near Field Communications, eg: Tap</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Apple music data access</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app needs access to Bluetooth</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth Communications</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Date/Time Picker</string>
	<key>NSCameraUsageDescription</key>
	<string>Take an image</string>
	<key>NSContactsUsageDescription</key>
	<string>Load and save contacts</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID security</string>
	<key>NSHomeKitUsageDescription</key>
	<string>Connect to homekit</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to the device location for the GPS</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Keep GPS in background</string>
	<key>NSLocationUsageDescription</key>
	<string>Get GPS</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Keep GPS location when open</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow speech input</string>
	<key>NSMotionUsageDescription</key>
	<string>Tilt functionality</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Add a photo to your library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>View your photo library</string>
	<key>NSRemindersUsageDescription</key>
	<string>Add a reminder</string>
	<key>NSSiriUsageDescription</key>
	<string>Allow Siri to listen and input</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech to text accessibility</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:example.com</string>
	</array>
	<key>com.apple.developer.nfc.readersession.formats</key>
	<array>
		<string>TAG</string>
	</array>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
